<a href="https://colab.research.google.com/github/auliyaa05/202055202047-auliyaa/blob/master/AlgoritmaC45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
df = pd.read_csv('/content/Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [84]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [86]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [87]:
for column in df:
  if df[column].dtypes == object:
    df[column] = le.fit_transform(df[column])

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    int64
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(5)
memory usage: 15.8 KB

In [90]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [91]:
df.describe()

            User ID      Gender         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000  400.000000       400.000000  400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000    0.357500
std    7.165832e+04    0.500526   10.482877     34096.960282    0.479864
min    1.556669e+07    0.000000   18.000000     15000.000000    0.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000    0.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000    0.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000    1.000000
max    1.581524e+07    1.000000   60.000000    150000.000000    1.000000

In [92]:
df = df.drop(['Age'], axis=1)

In [95]:
x = df.drop(['Purchased'], axis=1)
y = df['Purchased']

In [104]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2)

In [105]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=500, max_depth=None,
                               min_samples_split=2,
                               min_samples_leaf=1,
                               min_weight_fraction_leaf=0,
                               max_leaf_nodes=None,
                               min_impurity_decrease=0)

In [106]:
clf = model.fit(x_train, y_train)

In [107]:
model.score(x_test, y_test)

0.6125

In [108]:
from sklearn.tree import export_graphviz
import graphviz

tree_data = export_graphviz(model, out_file = None,
                                feature_names = x.columns,
                                class_names = ['0','1'],
                                filled = True)

In [110]:
graph = graphviz.Source(tree_data)
graph.view

In [111]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

#Confusion Matrix
y_pred = model.predict(x_test)
cm = confusion_matrix(y_test,y_pred)
print("CONFUSION MATRIX")
print(cm)
akurasi=classification_report(y_test,y_pred)
print("ACCURACY C4.5")
print("Accuracy :", akurasi)
akurasi=accuracy_score(y_test,y_pred)
print('Tingkat akurasi : {:.2%}'.format(akurasi))

CONFUSION MATRIX
[[34 18]
 [13 15]]
ACCURACY C4.5
Accuracy :               precision    recall  f1-score   support

           0       0.72      0.65      0.69        52
           1       0.45      0.54      0.49        28

    accuracy                           0.61        80
   macro avg       0.59      0.59      0.59        80
weighted avg       0.63      0.61      0.62        80

Tingkat akurasi : 61.25%